
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #9ff092;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

/* navbar css */

nav {
    height: 60px;
    background-color: #425e42;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: calc(100vw - 20px);
    margin: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    
    background: #425e42;
    transition: all 1000ms;
    padding: 10px;
    &:hover, &:focus-visible {
      background:rgb(124, 151, 124);
    }
}


nav ul li a {
    display: block;
    font-family: Arial;
    color: white;
    font-size: 24px;
    padding: 0px 20px;
    text-decoration: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #000000;
    border-radius: 0px 0px 4px 4px;
    top: 100%;
    left: 0%;
    z-index: 100;
}

nav ul li ul li {
    width: 250px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 20px;
}


